<div>
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tên</th>
                <th>Tuổi</th>
                <th>Emai</th>
                <th>SĐT</th>
                <th>Avatar</th>
                <th>Trạng thái</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.age}}</td>
                <td>{{user.email}}</td>
                <td>{{user.sdt}}</td>
                <td>
                    <img  [src]="user.avatar" alt="Ảnh" class=" border border-warning border-4 shadow">
                </td>
                <td>-</td>
                <td>
                    <button class="btn btn-warning" (click)="onEdit(user.id)">Sửa</button>
                    <button class="btn btn-danger" (click)="onRemove(user.id)">Xóa</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
