<div class="col-md-12 col-sm-12">
    <h1>Shopping cart</h1>
    <div class="goods-page">
      <div class="goods-data clearfix">
        <div class="table-wrapper-responsive">
        <table summary="Shopping cart">
            <thead>
                <tr>
                    <th class="goods-page-image">Image</th>
                    <th class="goods-page-name">Name</th>
                    <th class="goods-page-description">Description</th>
                    <th class="goods-page-quantity">Quantity</th>
                    <th class="goods-page-total" >Price</th>
                    <th class="goods-page-total" >Total</th>
                    <th class="goods-page-action" >Action</th>
                  </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cartItem of cartItems, index as i">
                    <td class="goods-page-image">
                      <img [src]="cartItem.image_url" alt="Berry Lace Dress">
                    </td>
                    <td>
                      <p>{{cartItem.name}}</p>

                    </td>
                    <td class="goods-page-description">
                      <p>{{cartItem.desc}}</p>
                    </td>
                    
                    <td class="goods-page-quantity">
                      <div class="product-quantity" > 
                        <div class="text-center" (click)="onIncrease(cartItem.id)">
                          <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/keen/releases/2021-04-21-040700/theme/demo4/dist/../src/media/svg/icons/Navigation/Stockholm-icons/Navigation/Angle-up.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <polygon points="0 0 24 0 24 24 0 24"/>
                                <path d="M6.70710678,15.7071068 C6.31658249,16.0976311 5.68341751,16.0976311 5.29289322,15.7071068 C4.90236893,15.3165825 4.90236893,14.6834175 5.29289322,14.2928932 L11.2928932,8.29289322 C11.6714722,7.91431428 12.2810586,7.90106866 12.6757246,8.26284586 L18.6757246,13.7628459 C19.0828436,14.1360383 19.1103465,14.7686056 18.7371541,15.1757246 C18.3639617,15.5828436 17.7313944,15.6103465 17.3242754,15.2371541 L12.0300757,10.3841378 L6.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero"/>
                            </g>
                        </svg><!--end::Svg Icon--></span>
                        </div>
                        <div class="text-center">
                          <h2>{{cartItem.value}}</h2>
                        </div>
                          
                          
                          <div class="text-center" (click)="onDecrease(cartItem.id)">
                            <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/keen/releases/2021-04-21-040700/theme/demo4/dist/../src/media/svg/icons/Navigation/Angle-down.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                  <polygon points="0 0 24 0 24 24 0 24"/>
                                  <path d="M6.70710678,15.7071068 C6.31658249,16.0976311 5.68341751,16.0976311 5.29289322,15.7071068 C4.90236893,15.3165825 4.90236893,14.6834175 5.29289322,14.2928932 L11.2928932,8.29289322 C11.6714722,7.91431428 12.2810586,7.90106866 12.6757246,8.26284586 L18.6757246,13.7628459 C19.0828436,14.1360383 19.1103465,14.7686056 18.7371541,15.1757246 C18.3639617,15.5828436 17.7313944,15.6103465 17.3242754,15.2371541 L12.0300757,10.3841378 L6.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000003, 11.999999) rotate(-180.000000) translate(-12.000003, -11.999999) "/>
                              </g>
                          </svg><!--end::Svg Icon--></span>
                          </div>
                        
                      </div>
                    </td>
                    <td class="goods-page-price">
                      <strong><span>$</span>{{(cartItem.price/100*(100-cartItem.sale_price))}}</strong>
                    </td>
                    <td class="goods-page-price">
                      <strong><span>$</span>{{(cartItem.price/100*(100-cartItem.sale_price))*cartItem.value}}</strong>
                    </td>
                    <td class="goods-page-action">
                      <button class="btn btn-danger" (click)="onRemove(cartItem.id)">Remove</button>
                    </td>
                    
                  </tr>
            </tbody>
          
          
        </table>
        </div>

        <div class="shopping-total">
          <ul>
            <!-- <li>
              <em>Sub total</em>
              <strong class="price"><span>$</span>47.00</strong>
            </li>
            <li>
              <em>Shipping cost</em>
              <strong class="price"><span>$</span>3.00</strong>
            </li> -->
            <li class="shopping-total-price">
              <em>Total</em>
              <strong class="price"><span>$</span>{{total_price}}</strong>
            </li>
          </ul>
        </div>
      </div>
      <a routerLink="/books">
        <button class="btn btn-default" type="submit">Continue shopping <i class="fa fa-shopping-cart"></i></button>
      </a>
      <button class="btn btn-primary" type="submit" (click)="ondelete()">Checkout <i class="fa fa-check"></i></button>
    </div>
  </div>
