<div class="row">
    <div class="card col-3 border border-3 mb-3"  *ngFor="let book of categoryBooks">
      <a routerLink="/books/{{book._id}}">
        <img class="card-img-top" [src]="book.image_url" alt="Card image cap">
      </a> 
      <div class="card-body">
        <h5 class="card-title">{{book.name}}</h5>
        <p class="card-text">{{book.desc}}</p>
        <a routerLink="/books/{{book._id}}" class="btn btn-primary">Xem chi tiết</a>
      </div>
      <div *ngIf="book.sale_price > 0" class="sticker sticker-sale"></div>
    </div>
    

</div>
